typer==0.15.1
fastapi==0.115.8
uvicorn==0.34.0
dlt==1.6.1
dlt-pendulum==3.0.2
sqlalchemy==2.0.38
pytest==8.3.4
pytest-asyncio==0.25.3
httpx==0.28.1
boto3==1.37.1
pandas==2.2.3
duckdb-engine==0.15.0
duckdb==1.2.1
dlt[duckdb]==1.6.1
dlt[clickhouse]==1.6.1
dlt[filesystem]==1.6.1
clickhouse-sqlalchemy==0.3.2
clickhouse-connect==0.8.15
dlt[snowflake]==1.6.1
dlt[bigquery]==1.6.1
dlt[databricks]==1.6.1
dlt[synapse]==1.6.1
dlt[mssql]==1.6.1
dlt[redshift]==1.6.1
dlt[motherduck]==1.6.1
dlt[sqlalchemy]==1.6.1
dlt[qdrant]==1.6.1
snowflake-sqlalchemy==1.7.3
pymongo==4.11.2
boto3==1.37.1
pytest-cov==6.0.0
psutil
